
{% extends "dashboard\layout\layout.html" %}


{% block content %}



<div class="row">
<div class="container">
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="\">Home</a></li>
  <li class="breadcrumb-item"><a href="\sale">Sale</a></li>
</ol>
 
            {% include 'sale/saleform.html'%}



        <div class="card card-chart">
          <div class="card-header">
            <h3>Sales</h3>
          

            {% include 'dashboard/entryshow.html'%}
        </div>
      </div>
    </div>


</div>
</div>

    {% include 'sale/script.html'%}



{% endblock %}