{% extends "dashboard\layout\layout.html" %}


{% block content %}

<div class="container">
	
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="\">Home</a></li>
  <li class="breadcrumb-item"><a href="\expances">Expense</a></li>
  <li class="breadcrumb-item"><a href="\expances\create">Create</a></li>
</ol>
<div class="card">
	<div class="card-header">
		<h6 class="heading-small text-muted mb-4">New Expense</h6>
	</div>
	<div class="card-body">
		<form action="\expances\store\" method="post">
			{% csrf_token %}

          {% include 'expances/form.html' %}
    <div class="form-group " >
      <input type="submit" class="btn btn-primary form-control" value="Save">
      </div>

		</form>
	</div>
	<div class="card-footer">
		
	</div>
</div>
</div>

{% endblock %}