<div class="row">
  <div class="col-lg-6 form-group ">
  <label class="form-control-label" for="input-name">Name</label>
  <input type="text" name="name" id="input-name" class="form-control" placeholder="Name" value="{% if supplier %} {{supplier.name}} {% endif %}" required autofocus>
  <label id="name-error"></label>
  </div>
  <div class="col-lg-6 form-group ">
  <label class="form-control-label" for="input-address">address</label>
  <input type="address" name="address" id="input-address" class="form-control" placeholder="address" value="{% if supplier %} {{supplier.addresss}} {% endif %}" required>
  <label id="address-error"></label>
  </div>

  <div class="col-lg-6 form-group ">
  <label class="form-control-label" for="input-phone">phone</label>
  <input type="text" name="phone" id="input-phone" class="form-control" placeholder="phone"  value="{% if supplier %} {{supplier.phone}} {% endif %}" required>
  <label id="phone-error"></label>
  </div>
  <div class="col-lg-6 form-group ">
    <label class="form-control-label" for="input-cell">cell</label>
    <input type="text" name="cell" id="input-cell" class="form-control" placeholder="cell"  value="{% if supplier %} {{supplier.cell}} {% endif %}" >
  <label id="cell-error"></label>
  </div>
  <div class="col-lg-6 form-group " >
  <label class="form-control-label" for="input-email">email</label>
  <input type="email" name="email" id="input-email" class="form-control" placeholder="email"  value="{% if supplier %} {{supplier.email}} {% endif %}" >
  <label id="tablet-error"></label>
  </div>
  <div class="col-lg-6 form-group " >
  <label class="form-control-label" for="input-initial_balances">Initial Balance</label>
  <input type="number" name="initial_balance" id="input-initial_balances" class="form-control" placeholder="Stock Packs"  value="{% if supplier %} {{supplier.initial_balance}} {% endif %}">
  <label id="initial_balances-error"></label>
  </div>
  <div class="col-lg-6 form-group " >
  <label class="form-control-label" for="input-initial_balance_db">Initial Balance Type</label>
  <select class="form-control" name="initial_balance_db" >
    <option value="D" value="{% if supplier.initial_balance_db == 'D' %}{% endif %}">Debit</option>
    <option value="C" value="{% if supplier.initial_balance_db == 'C' %}{% endif %}">Credit</option>
  </select>
  <label id="tablet-error"></label>
  </div>
</div>