{% extends "dashboard\layout\layout.html" %}


{% block content %}


<div class="container">

<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="\">Home</a></li>
  <li class="breadcrumb-item"><a href="\account\common">common</a></li>
  <li class="breadcrumb-item"><a href="\account\common\view">show</a></li>
</ol>
<div class="card">
	<div class="card-header"> 
	<a href="\report\ledger\{{common.ledger.id}}"  class="btn btn-danger btn-round btn-sm text-white pull-right">Entries</a>   
        <h4 class="card-title">Common Detail</h4>
	</div>
	<div class="card-body">

		<table class="table table-striped">
			<tr>
				<th colspan="4" class="bg-secondary" style="color: white;" >Details</th>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{common.name}}</td>
				<th>Ledger</th>
				<td>{{common.ledger.id}}</td>
			</tr>
			<tr>
				<th>Initial Balance</th>
				<td>{{common.initial_balance}}</td>
				<th>Initial Balance Type</th>
				<td>{{common.get_initial_balance_db_display}}</td>
			</tr>
			<tr>
				<th>Balance</th>
				<td>{{balance}}</td>
				<th>Balance Type</th>
				<td>{{balance_db}}</td>
			</tr>
		</table>
	</div>
</div>


</div>




{% endblock %}