<div class="row" style="background-color: #343a40; color: white; padding: 40px">

<!-- Links -->
	<div class="col-lg-6">
		<h6>
		Mairaj Medical Store
		</h6>
		<div class="row">
		<div class="container col-lg-4">
			<li><a href="\" style="color:white">Home</a> </li>
			<li><a href="\sale\" style="color:white">Sale</a> </li>
			<li><a href="\purchase\" style="color:white">Purchase</a> </li>
			<li><a href="\bank\deposit\" style="color:white">Bank Deposit</a> </li>
			<li><a href="\bank\withdraw\" style="color:white">Bank Withdraw</a> </li>
			<li><a href="\account\cashreceive" style="color:white">Cash Receive</a> </li>
		</div>
		<div class="container col-lg-4">
			<li><a href="\account\cashpayment" style="color:white">Cash Payment</a> </li>
			<li><a href="\productused\" style="color:white">Product Used</a> </li>
			<li><a href="\expances\pay\" style="color:white">New Expenses</a> </li>
			<li><a href="\account\salary" style="color:white">Salary</a> </li>
            <li><a style="color:white;" href="\bank\">Bank</a></li>
			<li><a style="color:white;" href="\product\">Product</a></li>
		</div>
		<div class="container col-lg-4">
            <li><a style="color:white;" href="\customer\">Customer</a></li>
            <li><a style="color:white;" href="\supplier\">Supplier</a></li>
            <li><a style="color:white;" href="\expances\">Expenses</a></li>
            <li><a style="color:white;" href="\employee\">Employee</a></li>
            <li><a style="color:white;" href="\account\common\">Common</a></li>
		</div>
		</div>
		
	</div>
	<div class="col-lg-6">
		<h6>
			Contact
		</h6>
		<div class="row">
			<div class="col-lg-6"><label>Phone: 03449113577 </label></div>
			<div class="col-lg-6"><label>Email: asad07538@gmail.com </label></div>
		</div>
		<h6>
			About</h6>
			<p> We provides Our Best Services for commercial purposes to boost up your business.</p>	
		
	</div>
</div>